@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$fonts-headline: 'Lobster', sans-serif;
$fonts-body: 'Nunito Sans', sans-serif;
$background-color: #daede2;
$primary: #E97451;
$accent1: #FFD700;
$accent2: #006400;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
